* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

:root {
  font-size: 62.5%;
}

.timer {
  font-size: 12.5rem;
  line-height: 14rem;
  color: #323238;
}

body {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

.controls {
  display: flex;
  margin-top: 4rem;
  justify-content: space-around;
}

.controller:hover {
  cursor: pointer;
  opacity: 0.8;
}

.sounds {
  display: flex;
  gap: 3.2rem;
}

.card {
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 3rem;
  padding: 4rem;
  width: 13rem;
  height: 15rem;
  border-radius: 24px;
}

.card:hover {
  cursor: pointer;
  background: #adadb1
}

.card:hover svg path {
  fill: #FFFFFF;
}

.grey {
  background: #E1E1E6;
}

.blue {
  background: #02799D;
}

.blue svg path {
  fill: #FFFFFF;

}