* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font-text: "Palanquin", sans-serif;
  --font-h1: "Staatliches", cursive;
  --background-body: #eff1ff;
  --background-header: #cbc0d3;
  --color-h1: #ffffff;
  --color-p: #23053a;
  --color-span: #4a4e69;
  --fontsize-body: 2rem;
  --fontsize-h1: 4rem;
  --img-size: 32rem;
}

body {
  background: var(--background-body);
  font-size: var(--fontsize-body);
  font-family: var(--font-text);
}
#page {
  text-align: center;
}
header {
  background: #8e9aaf;
  padding-bottom: 3.6rem;
}
header img {
  margin: 0 auto;
  margin: 3.2rem 0;
}
h1 {
  color: var(--color-h1);
  font-family: var(--font-h1);
  font-weight: 400;
  font-size: var(--fontsize-h1);
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  background: #cbc0d3;
  width: 100%;
  height: 4.9rem;
  padding: 0.8rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.card-wrapper {
  display: flex;
  gap: 3.6rem;
  flex-direction: column;
  align-items: center;
}
.card {
  position: relative;
  animation: topdown 1s;
}
p {
  max-width: 30rem;
  margin: 3.3rem auto 6.3rem;
  font-size: var(--fontsize-body);
  color: var(--color-p);
  font-weight: 400;
  line-height: 1.5rem;
  align-items: center;
  text-align: center;
}
.card img {
  width: var(--img-size);
}
span {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;

  text-transform: uppercase;
  padding: 0 2.3rem;
  height: 3.5rem;
  background: #feeafa;
  border-radius: 2rem;
  font-weight: 400;
  line-height: 3.4rem;
  /* identical to box height, or 170% */

  letter-spacing: 0.05em;
  font-family: var(--font-h1);
  color: var(--color-span);
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
